#player-new {
	/*border:1px solid #ff0000;*/ /*just for testing*/
	float:right;
}

#playtoggle {
	display:inline-block;
	width:47px;
	height:47px;
	vertical-align:middle;
}
#pausetoggle {
	display:none;
	width:47px;
	height:47px;
	vertical-align:middle;
}
#playtoggle.playing {
	display:none;
}
#pausetoggle.playing {
	display:inline-block;
}
#previousbutton {
	display:inline-block;
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	vertical-align:middle;
}
#previousbutton img {
	display:block;
}
#previousbutton img.random {
	display:none;
}
#nextbutton {
	display:inline-block;
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	vertical-align:middle;
}

#gutter {
	display:inline-block;
	width: 350px; /*465px;*/
	height: 8px;
	background-color: #111;
	border:10px solid #333;
	vertical-align: middle;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    /*margin-left:-4px;*/
}

#loading {
	display:block;
	height:8px;
	width:0px; javascript variable*/
	background-color:#c3f930;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3f930', endColorstr='#3d770b'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#c3f930), to(#3d770b)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #c3f930,  #3d770b); /* for firefox 3.6+ */ 
}

#buffering {
	display:block;
	height:8px;
	width:0px;  javascript variable, must be bugger than #loading*/
	background-color:#3d770b;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    background-image: url("../images/player-buffer-background.png");
    background-repeat:repeat-x;
}
#buffering.hidden {
	background:none;
}
#positionbutton {
	position:absolute;
	margin-top:-3px;
}

.ui-slider-handle {
	
}

#timeleft {
	
}

#currentsong {
	margin-top:15px;
}
