@CHARSET "UTF-8";

/*
	TODO: button styles
	TODO: input box styles (rounded corners, background, font)
*/


/* General styles */
body,
html {
	margin:0;
	padding:0;
	font-family:Lucida Grande, Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, san-serif;
	font-size:.95em;
	color:white;
	background-color: #000;
}
img {
	border:0;	
}
div.clear {
	clear:both;
}
.error {
	font-weight:bold;
	color:#d00;	
}
.success {
	font-weight:bold;
	color:#050;	
}


/* layout */
#leftcontainer {
	float:left;
}
#left {
	float:left;
	/* set width to percentage of page? */
	/* maybe just hide it at first? */
	width:350px;
	/* TODO: use javascript to set height */
	/*overflow:scroll;*/ /* TODO: is scroll good or something custom? */
	clear:both;
	overflow:hidden;
	white-space:nowrap;
	/* TODO: make this fully HTML5 compliant later
	   Browsers currently don't implement the user-select code */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#left ul li {
	cursor:pointer;
}
#leftsubcontainer {
	float:left;
}
#leftbuttons {
	height:25px;
	clear:both;
	border-bottom:1px solid rgb(0,68,0);
	padding:5px;
}
#lefthidebar {
	background-color: #333;
	width:7px;
	float:left;
}
#leftscrollbar{ 
	position:absolute;
	height:20px;
	width:7px;
	background-color:#ff6600;
}

#right {
	float:left;
	overflow-y:scroll;
}
#right table tr td:last-child {
	border-right:none;
}
#right table td {
	border-right:1px solid rgb(70,138,15);
	border-bottom:1px solid rgb(70,138,15);
	padding:2px;
}
#right table th {
	/*background-color:rgb(125,205,126);*/
	background-color:rgb(70,138,15);
	padding:2px;
}
#right table tr.playing:hover {
	background-color:rgb(128,128,128);
}
#right table tr.playing {
	background-color:rgb(32,32,32);
}
#right table tr:hover {
	background-color:rgb(64,64,64);
}
#right table {
	width:100%;
	border-spacing:0px;
}
#header {
	background-image: -moz-linear-gradient(
		center bottom,
	    rgb(70,138,15) 00%, /*rgb(172,255,176) 00%,*/
	    rgb(0,0,0) 50%
	) !important;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.00, rgb(70,138,15)),
	    color-stop(0.50, rgb(0,0,0))
	) !important;
	overflow:hidden !important;
	height:110px;
	padding:5px;
	border-bottom: 2px solid rgb(0,68,0);
}
#footer {
	height:25px;
	padding-top:10px;
	padding-left:10px;
	border-top:2px solid #333;
}



/* login/register settings */
div.login {
	font-weight:bold;
	float:right;
	margin-top:-12px;
	font-size:.85em;
	color: rgb(195,249,48);
}
div.login a{
	text-decoration:none;
	color: rgb(195,249,48);	/* light green */
}
div.login a:hover{
	text-decoration:underline;
	cursor:pointer;
}
#loginregister {
	margin-top:91px;
}
#loginscreen, #registerscreen {
	border: 2px solid rgb(195,249,48);
	position: absolute;
	z-index:1000;
	display:none;
	padding:5px;
	border-radius: 15px;
	background-color: #333;
}
#registerscreen {
	width: 400px;
} 
#loginscreen div.error, #registerscreen div.error,#registerscreen div.success{
	display:none;	
}


/* player options */
#player, #player_hold {
	display:none;
}


/* Playlist options */
table.playlist {
	padding:0px;
}
td.playlist-buttons {
	width:1px;
	white-space:nowrap;
	padding:0px;
}
td.playlist-buttons img{
	width:25px;
	height:25px;
}

#warning{
	display:none;
	position:absolute;
	left:125px;
	padding:2px;
	background-image: -moz-linear-gradient(
		center bottom,
	    rgb(200,70,15) 00%, /*rgb(172,255,176) 00%,*/
	    rgb(0,0,0) 50%
	) !important;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.00, rgb(200,70,15)),
	    color-stop(0.50, rgb(0,0,0))
	) !important;
}

/* footer buttons */
.playmode {
	width:25px;
	height:25px;
	float:left;
	margin-top:-7px;
	margin-left:5px;
	background-image: url("../images/audio-continuousbutton.png");
	/*border:1px solid red;*/
}
.playmode.default {
	background-image: url("../images/audio-continuousbutton.png");
	/*border:1px solid green;*/
}
.playmode.random {
	background-image: url("../images/audio-shufflebutton.png");
	/*border:1px solid blue;*/
}
#autoplay {
	background-image: url("../images/audio-autoplay.png");
	/*border:1px solid green;*/
}
#autoplay.on {
	background-image: url("../images/audio-autoplay-on.png");
	/*border:1px solid green;*/
}

div.panel {
	display:none;
	width:100%;
	background-color: rgba(0,0,0,0.9);
	position:absolute;
	top:0;
	left:0;
}
div.panel img.closeButton {
	margin-right:10px;
	margin-top: 10px;
}
div.panel>div {
	margin:10px;
}
